/**
* Estudo do position
* @author thiago
*/

body{
    font-family: sans-serif;
}
#static{
    background-color: aqua;
    padding: 50px; /*box model - interno*/
    position: static;
}
#relative{
    background-color: red;
    color: white;
    padding: 50px;
    position: relative;
    /*top: -30px;*/
}
#relative2{
    background-color: greenyellow;
    color: white;
    width: 600px;
    height: 400px;
    padding: 30px;
    position: relative;
    top: -30px;
    left: 30px;
}
#absolute{
    width: 300px;
    height: 200px;
    background-color: blue;
    color: white;
    padding: 20px;
    position: absolute;
    top: 120px;
    right: 0px;
}
#fixed{
    width: 200px;
    padding: 30px;
    background-color: black;
    color: white;
    position: fixed;
    right: 0px;
    bottom: 0px;
}